<div class="container mt-5">
    <div class="row mb-5 align-items-center">
        <div class="col-lg-7">
            <h3 class="fw-bold mb-1">The Person Behind the Code</h3>
            <p class="lead text-primary-emphasis">
                I'm a developer who enjoys the logic of the backend and the creativity of the frontend.
                Whether I'm building interactive web apps in <strong>Angular</strong> or
                designing games in <strong>Unity</strong>, I'm always looking for
                the most efficient way to solve a problem.
            </p>
            <p class="text-secondary">
                I don't just write code, I build solutions that prioritize user experience.
                My background in game development gives me a unique perspective on
                interactive design and UX.
            </p>
        </div>
        <h3 class="mb-3 mt-3">Toolbox</h3>
        <hr>

        <div class="row">
            @for (skill of skills; track skill.name) {
            <div class="col-md-3 mb-4">
                <div class="card h-100 border-0 shadow-sm text-center p-3 skill-card">
                    <div class="card-body">
                        @if (skill.name === "C#") {
                        <img src="{{skill.icon}}" alt="C#" class="mb-4 tag-csharp" />
                        }
                        @else {
                        <i class="display-6 mb-4 tag-default"
                            [class]="skill.icon + ' tag-' + skill.name.toLowerCase()"></i>
                        }
                        <h5 class="card-title skill">{{ skill.name }}</h5>
                        <label for="progress" class="text-lowercase level">{{skill.level}}</label>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" [style.width.%]="skill.percentage"></div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>