.skill-card {
    background: whitesmoke;
    transition: all 0.3s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(13, 110, 253, 0.15) !important;
    border: 1px solid rgba(13, 110, 253, 0.2) !important;
}

.card-body i,
.card-body img {
    height: 4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skill {
    font-weight: 500;
    color: #212529;
    margin-bottom: 10px;
}

.level {
    font-weight: bold;
    color: #0d6efd;
    border-radius: 10px;
    background-color: aliceblue;
    padding: 3px;
    display: inline-block;
    margin-bottom: 20px;
}

.tag-default {
    color: gray;
    font-size: 50px;
}

.tag-angular {
    background: linear-gradient(90deg, rgba(250, 46, 191, 1) 0%, rgba(248, 1, 63, 1) 50%, rgba(172, 33, 251, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 70px;
}

.tag-bootstrap {
    background: linear-gradient(90deg, rgba(151, 41, 255, 1) 0%, rgba(110, 17, 244, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tag-javascript {
    color: #f7df1e;
}

.tag-html5 {
    color: orangered;
}

.tag-css3 {
    color: #214ce5;
}

.tag-unity {
    color: black;
}

.tag-csharp {
    object-fit: contain;
}

.tag-typescript {
    background: linear-gradient(90deg, #007acc 0%, #00aaff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}