<div class="container my-5">
    <div class="row mb-5 align-items-center">
        <div class="col-lg-8 about-me-container">
            <h3 class="fw-bold mb-1">The Person Behind the Code</h3>
            <p class="about-me">
                <br>
                I'm Riccardo Giannecchini a {{age()}}year old <b>game/web developer</b> from Belgium.<br>
                I've always been obsessed with how people interact with digital worlds. I started in <b>Game Design</b>, where I learned that every click should feel like a <i>reward, not a chore</i>. Today, I use that 'player-first' mindset to build web applications.
                <br><br>
                I believe that software <i>shouldn't</i> feel like a puzzle you have to solve. My job is to take the
                complicated stuff happening behind the scenes and turn it into something that feels <i>natural, helpful, and easy to use</i>. I build experiences that respect your time and actually feel good to use.
            </p>
        </div>

        <h2 class="mb-3 mt-5 text-center">My Toolbox</h2>
        <hr>

        @for (category of categories; track category.title) {
        <div class="row">
            <div class="col-12 category">
                <h3>{{category.title}}</h3>
            </div>
        </div>
        <div class="row g-3 mb-4">
            @for (skill of category.skills; track skill.name) {
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <div class="card h-100 border-0 shadow-sm text-center skill-card">
                    <div class="card-body">
                        @if (skill.icon === null) {
                        <img src="{{ skill.image }}" alt="{{skill.name}}" class="tag-image" />
                        }
                        @else {
                        <i class="tag-default" [class]="skill.icon + ' tag-' + skill.name.toLowerCase()"></i>
                        }
                        <h5 class="card-title skill">{{ skill.name }}</h5>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (!$last){
        <hr>
    }
        }
    </div>
</div>