.card {
  background-color: whitesmoke;
  transition: all 0.3s ease-in-out;
  border: 1px transparent solid;
}

.card:hover {
  transform: translateY(-10px);
  border: 1px solid var(--text-muted);
  box-shadow: 0 0 15px #6365f14c !important;
}

.card-img-top {
  object-fit: cover;
  height: 180px;
}

.btn {
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.025);
  opacity: 0.9;
}

.btn-github {
  background: #1b1e23;
  color: whitesmoke;
}

.btn-site {
  background: #198754;
  color: whitesmoke;
}

.btn-itchio {
  background: #ff2449;
  color: whitesmoke;
}

.card-title {
  font-size: 1.5rem;
}

.year {
  font-weight: normal;
  font-size: 1rem;
  color: lightslategray !important;
}

.badge {
  cursor: default;
  padding: 1px;
  font-size: 0.75rem;
  padding: 0.5em;
  border-radius: 0.5rem;
  /* default for when I have not setup a tag */
  background: slategray;
  color: white;
}

.tag-angular {
  background: linear-gradient(90deg, rgba(250, 46, 191, 1) 0%, rgba(248, 1, 63, 1) 50%, rgba(172, 33, 251, 1) 100%);
}

.tag-bootstrap {
  background: linear-gradient(90deg, rgba(151, 41, 255, 1) 0%, rgba(110, 17, 244, 1) 100%);
}

.tag-javascript {
  background: #f7df1e;
  color: black;
}

.tag-typescript {
  background: #2f74c0;
}

.tag-html {
  background: orangered;
}

.tag-css {
  background: #214ce5;
}

.tag-unity {
  background: black;
}

.tag-csharp {
  background: #66217b;
}

.tag-laravel {
  background: #f63003;
}

.tag-php {
  background: #787cb4;
  color: black;
}

.tag-mysql {
  background: #4479a1;
}

.tag-jwt-auth {
  background: #000000;
  color: rgb(0, 255, 247);
}